{% extends "layout.html" %}

{% block heading %}
 {{ query_title }}
{% endblock %}

{% block body %}

<div class="shadow p-3 mb-5 bg-white rounded">
  <table class="table">
    <tbody>
      <tr>
        <th>Menu Name</th>
        <th>Menu Sold</th>
      </tr>
      {% for result in msg %}
      <tr>
            <td>
                {{ result.menu_name }}
            </td>
            <td>
                {{ result.count_menu}}
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="ref">
  <a href="{{ url_for('admin') }}">Back To Admin</a>
</div>
{% endblock%}
