{% extends "layout.html" %}

{% block heading %}
 {{ query_title }}
{% endblock %}

{% block body %}

<div class="shadow p-3 mb-5 bg-white rounded">
  <table class="table">
    <tbody>
      <tr>
        <th>Menu Code</th>
        <th>Topping Id</th>
        <th>Small</th>
        <th>Large</th>
      </tr>
      {% for result in msg %}
      <tr>
            <td>
                {{ result.menu_code }}
            </td>
            <td>
                {{ result.top_id}}
            </td>
            <td>
                {{ result.small}}
            </td>
            <td>
                {{ result.large}}
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="ref">
  <a href="{{ url_for('admin') }}">Back To Admin</a>
</div>

{% endblock%}
